.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #26325c;
}

.header-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding-right: 20px;
}

.header-logo {
    padding-left: 50px;
    text-decoration: none;
    color: white;
    font-size: 26px;
    text-transform: uppercase;
}

.header-logo b {
    font-size: 40px;
}

.menu-item {
    display: block;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 7px 15px;
    z-index: 2;
    margin-left: 40px;
}

.menu-item:hover {
    color: white;
    opacity: 1;
}

.menu-item-auth {
    display: flex;
    gap: 25px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 2px 15px;
    z-index: 2;
    margin-left: 20px;
}

.profile_title {
    display: flex;
    gap: 10px;
    text-decoration: none;
    align-items: center;
}

.menu-item-profile {
    position: relative;
    font-size: 20px;
    color: white;
    text-decoration: none;
    align-items: center;
    padding: 7px 15px;
    z-index: 5;
    margin-left: 20px;
}

.menu-item-profile:hover {
    color: white;
    cursor: pointer;
}

.menu-item-profile:hover .arrow-profile {
    opacity: 1;
}

.arrow-profile {
    opacity: 0.35;
}

.link-auth {
    text-decoration: none;
    color: white;
    border: 1px solid #B2B0B0;
    padding: 4px 10px;
}

.link-auth:hover {
    border-color: gray;
    color: #C7C7C7;
    cursor: pointer;
}

.target {
    position: absolute;
    border-bottom: 3px solid white;
    z-index: 1;
    transform: none;
}

.header-link,
.target {
    transition: all .35s ease-in-out;
}

.active {
    opacity: 1;
}

.no-active {
    opacity: 0.35;
}

.switch {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    height: 1em;
    width: 2em;
    border-radius: 1em;
    box-shadow: inset -1em 0px 0px 0px rgba(192, 192, 192, 1);
    background-color: white;
    border: 1px solid rgba(192, 192, 192, 1);
    outline: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.switch:checked {
    box-shadow: inset 1em 0px 0px 0px rgba(33, 150, 243, 0.5);
    border: 1px solid rgba(33, 150, 243, 1);
}

.switch:focus {
    outline-width: 0;
}

.profile-nav {
    position: absolute;
    top: 55px;
    right: 0;
    width: 230px;
    background-color: #fff;
    flex-direction: column;
    display: flex;
    padding: 10px 0;
    z-index: 3;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(5, 12, 38, 0.12);
}

.profile-nav-item{
    font-size: 18px;
    text-decoration: none;
    color: #26325c;
    padding: 3px 10px;
}
.profile-nav-item:hover{
    color: #26325c;
    cursor: pointer;
    background-color: #E6E3E3;
}
.dark-theme{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
