.profile{
    padding: 20px;
}
.profile-data{
    border:1px solid black;
    max-width: 400px;
    padding: 15px;
    text-align: center;
}
.profile-data-input>input{
    text-align: center;
}
.btn-block{
    display: flex;
    margin-top: 200px;
    justify-content: space-between;
}
.loginout-btn{
    background-color: red;
    width: 100px;
    padding: 10px 20px;
    border-radius: 10px;
}
.loginout-btn:hover{
    background-color: brown;
    cursor: pointer;
}
.save-change-btn{
    background-color:olive;
    width: 300px;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
}
.save-change-btn:hover{
    background-color: olivedrab;
    cursor: pointer;
}
.profile-title{
    text-align: center;
}
.profile-top-block{
    display: flex;
    margin-top: 20px;
}
.profile-progress{
    margin-left: 100px;
}
.profile-progress-title>p{
    font-size: 30px;
}
.progress-bar-block{
    display: flex;
    align-items: center;
}
.progress-bar-slice{
    width: 800px;
    height:50px;
    display:flex;
    margin-left:50px;
    margin-top:20px;
}