.course{
    display: flex;
    justify-content: space-around;
}
.course-content{
    width: 1100px;
}
.course-title{
    text-align: center;
}




.course-block{
    max-width: 300px;
}
.item{
    background-color: #f0ebe1;
    margin-bottom: 5px;
    padding: 10px 20px;
}
.title{
    display: flex;
    color:red;
    justify-content: space-between;
    align-items: center;
}
.content{
    color:red;
    max-width: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}
.content.show{
    height: auto;
    max-width: 9999px;
    transition: all 0.5s cubic-bezier(1,0,0,1);
}




.lock-links{
    display: flex;
    
}
.lock{
    margin-top: 6px;
    margin-left: 10px;
}
.course-burger-item{
    /*width: 300px;
    background-color: #9ebeec;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;*/
    background-color: #f0ebe1;
    margin-bottom: 5px;
    padding: 10px 20px;
}
.course-burger-item:hover{
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0,0,0, .1);
}
.thory-content{
    max-width: 1300px;
    margin: 0 auto;
    border:1px solid black;
    padding: 20px;
}
.not-active-block{
    display: none;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}
.active-block{
    display: block;
    margin-top: 10px;
    transition: all 0.5s cubic-bezier(1,0,0,1);
}
.course-name-title{
    display: flex;
    justify-content: space-between;
}
.course-links{
    font-size: 20px;
}
.practice{
    
}
.practice-block{
    border: 1px solid black;
    max-width: 1300px;
    margin: 10px auto;
}