.course{
    display: flex;
    justify-content: space-around;
}
.course-content{
    width: 1100px;
}
.course-block{
    margin-top: 20px;
    max-height: 600px;
    overflow-y: scroll;
    padding-right: 20px;
}
.course-block::-webkit-scrollbar{
    width: 4px;
    background-color: rgba(26, 24, 47, 0.1);
    border-radius: 2px;
    height: 20px;
}
.course-block::-webkit-scrollbar-thumb{
    background: #435191;
    border-radius: 2px;
}
.course-block-overflow-hidden{
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    padding: 10px;
    margin-left: 20px;
}