.course-block{
    display: flex;
}
.course{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.course-links{
    display: flex;
    flex-direction: column;
}
.main-block{
    border-left: 1px solid black;
    width:800px;
}
.main-link{
    text-decoration: none;
    color:black;
    font-weight: 700;
    font-size: 20px;
}
.depend-links{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.depend-links a{
    text-decoration: none;
    color:black;
}
.depend-links a:hover{
    font-weight: 500;
}
.depend-not-link{
    display: none;
}
.error_course{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}