
.error_traning{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.traning-block{
    display: flex;
    flex-direction: column;
}
.traning-block_content{
    display: flex;
    background-color: red;
}
.auth_link{
    color: black;
}

.traning-from{
    margin-top: 50px;
}
.request-block{
    display: flex;
}
.request-block input{
    margin-left: 100px;
}
.params-block {
    display: flex;
}
.params-block ul{
    display: flex;
    width: 300px;
    margin-top: 20px;
    justify-content: space-between;
    list-style: none;
}
.params-block ul>li:hover{
    cursor: pointer;
}
.params-link{
    color:black;
    text-decoration: none;
}
.params-links{
    display: flex;
    justify-content: space-between;
}
.not-active-task{
    display: none;
}
.task-title{
    background-color: red;
}
.task-title:hover{
    cursor: pointer;
    background-color: brown;
}
.active-task{
    display: block;
    border: 1px solid black;
    padding: 20px;
}
.start-task{
    background-color: green;
    padding: 7px 20px;
}
.start-task:hover{
    cursor: pointer;
    background-color: olivedrab;
}
.bottom-block{
    display: flex;
    margin-top: 30px;
}
.not-active-params{
    display: none;
}
.active-params{
    display: block;
}
.training-block{
    width: 1000px;
    margin: 20px auto;
}
.form-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.task-item{
    display: flex;
    width: 250px;
    padding: 10px;
    justify-content: space-between;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
}
.task-item:hover{
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0,0,0, .1);
}
.task{
    background-color: white;
    padding: 10px;
    margin-top: 10px;
}
.select{
    width: 150px;
    height: 40px;
}
.url-input{
    width: 100%;
    background-color: #F6F6F6;
}
.send-btn{
    width: 100px;
    height: 40px;
    margin-left: 5px;
}

.select-tab-block{
    margin-top: 20px;
}