.form_content_auth {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin-right: auto;
    gap: 10px;
    margin-left: auto;
    width: 450px;
    height: 370px;
    background-color: white;
    border-radius: 10px;
}

.title_header {
    margin-right: 37%;
    font-size: 30px;
    font-weight: 500;
}

.form_auth {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    gap: 15px;
}

.icon_close {
    width: 24px;
    height: 24px;
    color: red;
}

.icon_close:hover {
    cursor: pointer;
    background-color: #B9B5B5;
    border-radius: 50%;
}

.header_auth {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.container_form {
    position: relative;
    width: 100%;
}

.container_form_btn {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.auth_input {
    width: 100%;
    padding: 10px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid black;
}

.auth_input:hover {
    outline: none;
    border: 2px solid #8888D0;
}

.auth_input:focus {
    outline: none;
    border: 2px solid #2C36C6;
}

.submit {
    color: white;
    width: 50%;
    height: 50px;
    border-radius: 10px;
    background-color: cornflowerblue;
    transition: all 0.2s ease-in;
    border: 1px solid gray;
}

.submit:hover {
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(23, 45, 98, 0.3);
    outline: 1px solid black;
}

.submit:disabled {
    cursor: not-allowed;
    background-color: gray;
}

.submit:disabled:hover {
    box-shadow: none;
}

.bottom_link {
    color: gray;
}

.bottom_links {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.password_control {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 20%;
    left: 88%;
}