.top-btn-position{
    position: fixed;
    top: 30px;
    right: 47%;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    opacity: 50%;
    transition: all 0.1s ease-in;
}
.top-btn-position:hover{
    animation: none;
    background-color: #333;
    color:#fff;
    opacity: 100%;
}