.quizz {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 40px);
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    flex-direction: column;
    -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    border: 1px solid black;
    color: #26325c;
    font-size: 1.5em;
}

.question-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-text {
    font-size: 2.3em;
    font-weight: 600;
}

@keyframes ani {
     /*0% {opacity: 0;}
     100% {opacity: 1;}*/
    0% {
        transform: translateY(-150%);
    }
    100% {
        transform: translateY(0);
    }
}

.box-animation {
    /*opacity: 0;
    animation: ani 2.5s forwards;*/
    transform: translateY(-150%);
    animation: ani 1s forwards;
}

.box-question {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.answer-section {
    display: flex;
    width: max-content;
    gap: 40px;
    flex-direction: column;
}

.answer {
    width: 100%;
    font-size: 0.7em;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    border: 2px solid #234668;
    outline: none;
}

.answer:hover {
    background-color: #234668;
    color: white;
    transition: all 0.2s ease-in;
}

.section-score {
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.good {
    background-color: #6AFCA4;
}

.bad {
    background-color: #FA8387;
}

.refresh-btn {
    color: #26325c;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
}

.refresh-btn:hover {
    background-color: #234668;
    color: white;
    transition: all 0.2s ease-in;
}

.result-test {
    background-color: #C7E7FF;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

table td, table th {
    border: 1px solid black;
}

td {
    width: 100px;
    padding: 10px;
    text-align: center;
}
