.accordion {
    display: flex;
    width: 300px;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 5px;
    color: #83899F;
}
.Mui-expanded{
    color: #26325c;
    margin: 0 !important;
}

.accordion:hover {
    color: #26325c;
}

.accordion:hover .MuiAccordionSummary-expandIconWrapper {
    color: #26325c;
}
.MuiAccordionDetails-root{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 0 10px 0;
}
.accordion-item{
    padding-left: 16px;
    border: none;
}
.accordion-item:hover{
    cursor: pointer;
    color: #ABAAAA;
}