.error_course{
    max-width: 1400px;
    margin: 0 auto;
}
.course-desc-title{
    font-size: 90px;
    font-weight: 600;
}
.course-desc{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 26px;
}
.error-course-content-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px;
    border-radius: 20px;
    margin-top: 50px;
    background-color: #ffffff;
}
.auth-btn{
    width: 300px;
    color: white;
    background-color: #26325c;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}
.auth-btn:hover{
    background-color: #292f79;
    color: white;
}
.error-course-content-2{
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: 50px;
    padding: 90px;
}
.error-course-content-2-title>p{
    width: 300px;
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 50px;
}
.course-flex{
    width: 400px;
}
.course-flex-items{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.course-flex>p{
    font-size: 20px;
    margin-top: 30px;
}
.error-course-content-3{
    background-color: white;
    border-radius: 20px;
    margin-top: 50px;
    padding: 90px;
}
.error-course-content-3-title>p{
    font-size: 70px;
    font-weight: 600;
}
.error-course-content-3-flex{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.flex{
    text-align: center;
    /*display: flex;
    align-items: center;*/
}
.flex>p{
    margin-top: 20px;
    font-size: 20px;
}
.error-course-content-4{
    background-color: white;
    border-radius: 20px;
    padding: 90px;
    margin-top: 50px;
}
.error-course-content-4-title>p{
    width: 800px;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 50px;
}